@page
@model MasterChannelMap.Pages.CallSigns.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CallSign</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CallSign.ID" />
            <div class="form-group">
                <label asp-for="CallSign.CallLetters" class="control-label"></label>
                <input asp-for="CallSign.CallLetters" class="form-control" />
                <span asp-validation-for="CallSign.CallLetters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallSign.Description" class="control-label"></label>
                <input asp-for="CallSign.Description" class="form-control" />
                <span asp-validation-for="CallSign.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallSign.ChannelListingID" class="control-label"></label>
                <input asp-for="CallSign.ChannelListingID" class="form-control" />
                <span asp-validation-for="CallSign.ChannelListingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallSign.Notes" class="control-label"></label>
                <input asp-for="CallSign.Notes" class="form-control" />
                <span asp-validation-for="CallSign.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
